.all {
  max-width: 1280px;
  display: flex;
  margin: 70px auto;
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.all__container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
}

.all__image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: .3s linear;
}

.all__image:hover {
  transform: scale(1.1);
}

.all__vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.all__horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.all__two {
  gap: 10px;
  display: grid;
  grid-column: span 2;
}

.all__more {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .all__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .all__horizontal {
    gap: 15px;
  }

  .all__two {
    gap: 15px;
  }

  .all__more {
    gap: 15px;
  }
}

@media screen and (max-width: 595px) {
  .all {
    padding: 0 30px;
  }

  .all__horizontal {
    display: flex;
    flex-direction: column;
  }

  .all__more {
    display: flex;
    flex-direction: column;
  }

  .all__image:hover {
    transform: none;
  }
}
