.image-popup {
  box-sizing: border-box;
  padding: 40px 0;
  place-items: center;
  display: flex;
  position: fixed;
  background-color: rgb(0 0 0 / 64%);
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: .3s linear;
}

.image-popup__container {
  max-width: 80vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.image-popup__photo {
  width: 100%;
  max-height: 100%;
}

.open {
  visibility: visible;
  opacity: 1;
}
