.about {
  max-width: 1280px;
  display: flex;
  margin: 80px auto;
  width: 100%;
}

.about__container {
  margin: 0 20px;
  padding: 70px;
  display: flex;
  gap: 70px;
  background-color: #3456f3;
  border-radius: 40px;
  align-items: center;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.about__photo {
  max-width: 40%;
  width: 100%;
  border-radius: 20px;
}

.about__back {
  width: 100%;
}

.about__about {
  margin: 0;

}

.about__text {
  margin: 0;
  font-size: 48px;
  color: #fff;
}

.about__text::selection {
  color: #FAFAFA;
  background-color: #212121;
}

@media screen and (max-width: 1030px) {
  .about__container {
    padding: 30px;
  }

  .about__text {
    font-size: 42px;
  }
}

@media screen and (max-width: 1030px) {
  .about__text {
    font-size: 38px;
  }
}

@media screen and (max-width: 844px) {
  .about__text {
    font-size: 32px;
  }

  .about__container {
    gap: 30px;
  }
}

@media screen and (max-width: 735px) {
  .about__text {
    font-size: 24px;
  }
}

@media screen and (max-width: 590px) {
  .about__text {
    font-size: 18px;
  }
}
