.preview {
  display: flex;
  width: 100%;
}

.preview__name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #6dc990
}

.preview__portfolio {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/collage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview__portfolio::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #2A2C2F;
  opacity: .3;
}

.preview__prices {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/price.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview__prices::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #2A2C2F;
  opacity: .3;
}


.preview__container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  position: relative;
}

.preview__about {
  padding: 0 70px;
  margin: 0;
  color: #FFF;
  font-size: 100px;
  font-weight: bold;
}

.preview__subtitle {
  padding: 0 70px;
  margin: 0;
  color: #FFF;
  font-size: 48px;
}

@media screen and (max-width: 595px) {
  .preview__about {
    padding: 0 30px;
    font-size: 64px;
  }

  .preview__subtitle {
    padding: 0 30px;
  }
}
