.visited {
  border-bottom: 2px solid #fff;
}
.navigation__menu-small {
  display: none;
}

.navigation__burger {
  display: none;
  border: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/burger.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: .3s linear;
}

.navigation__burger:hover {
  opacity: .6;
}

.navigation__main {
  margin: 0 0 0 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}

.navigation__link {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  transition: .3s linear;
}

.navigation__link:hover {
  opacity: .6;
}

.navigation__link-movie {
  font-weight: 500;
}

.navigation__link-profile {
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
}


.navigation__box {
  cursor: pointer;
  padding: 0 3px 0 11px;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background-color: #FAFAFA;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  transition: .3s linear;
}

.navigation__box:hover {
  opacity: .6;
}


.navigation__menu-small {
  padding: 159px 90px 90px;
  box-sizing: border-box;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  right: 0;
  top: 0;
  background-color: #00000014;
  box-shadow: 3px -1px 20px 0px #00000075;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 520px;
  transition: .3s linear;
}

.navigation__close-icon {
  cursor: pointer;
  background-image: url('../../images/close-icon.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  transition: .3s linear;
}

.navigation__close-icon:hover {
  opacity: .6;
}

.navigation__main-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.navigation__link-small {
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: .3s linear;
}

.border {
  border-bottom: 2px solid #fff;
}

.navigation__link-small:hover {
  opacity: .6;
}

.navigation__box-small {
  cursor: pointer;
  padding: 0 3px 0 11px;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background-color: #FAFAFA;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  transition: .3s linear;
}

.navigation__box-small:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .navigation__main {
    display: none;
  }

  .navigation__box {
    display: none;
  }

  .navigation__burger {
    display: flex;
  }

  .opened {
    display: flex;
  }

  .closed{
    display: none;
  }
}


@media screen and (max-width: 520px) {
  .navigation__menu-small {
    width: 100%;
  }
}

@media screen and (max-width: 476px) {
  .navigation__menu-small {
    padding: 144px 10px 46px;
  }

  .navigation__close-icon {
    top: 13px;
    right: 13px;
  }
}
