.prices {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 70px auto;
  width: 100%;
  gap: 50px;
  align-items: center;
}

.prices__container {
  padding: 30px 50px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  border: 2px solid #212121;
  gap: 55px;
}

.prices__wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
}

.prices__text-content {
  margin: 0 0 10px;
}

@media screen and (max-width: 915px) {
  .prices {
    flex-direction: column;
  }
}

@media screen and (max-width: 595px) {
  .prices__container {
    width: 350px;
    padding: 30px 20px 80px;
  }
}

@media screen and (max-width: 360px) {
  .prices__container {
    width: 300px;
    padding: 30px 10px 80px;
  }
}
